section.order
	.container.order__container
		.order__media
			img.order__image(src="img/order-cups.png", alt="Coffee cups")

		.order__content
			h2.order__title
				span.order__title-line Order Your
				span.order__title-line Favourite Coffee

			p.order__text
				| Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.

			a.order__button.btn.btn--dark(href="#") Order now