header.header
	.container.header__container
		a.header__logo(href="#")
			img(src="img/logo.png", alt="Alowishus logo")

		.header__right
			nav.header__nav(aria-label="Основная навигация")
				ul.header__menu
					li.header__item
						a.header__link(href="#") Cafe Menu
					li.header__item
						a.header__link(href="#") About Us
					li.header__item
						a.header__link(href="#") Find Us
					li.header__item
						a.header__link(href="#") Alowishus Catering

			a.header__cart(href="#", aria-label="Cart")
				img(src="img/svg/cart.svg", alt="Cart")

			a.header__button.btn.btn--dark(href="#") Buy gift vouchers