section.hero
	.container.hero__container
		.hero__content
			h1.hero__title
				| Alowishus
				br
				| Delicious
				br
				| Coffee

			p.hero__text
				| A drink from the ‘My Alowishus’ bottled brews
				br
				| range OR grab one of our delicious coffee’s.

			.hero__actions
				a.hero__button.btn.btn--dark(href="#") Download app
				a.hero__link(href="#") Shop coffee

		.hero__media
			img.hero__award(src="img/award.png", alt="Cafe of the year")
			img.hero__image(src="img/hero-cup.png", alt="Cup of coffee")

			.hero__rating
				.hero__rating-stars
					img(src="img/svg/star.svg", alt="Rating stars")
				.hero__rating-text
					| 4.9 out of 5 Overall Star
					br
					| Rating for All Local Business.