section.explore
	.container
		.explore__top
			h2.explore__title Explore Our Alowishus
			p.explore__text
				| A drink from the ‘My Alowishus’ bottled brews range OR
				br
				| grab one of our delicious coffee’s.

		.explore__cards
			article.explore-card
				h3.explore-card__title Our Catering
				p.explore-card__text Alowishus Catering, delicious drop off Catering
				.explore-card__image
					img(src="img/explore-catering.png", alt="Catering")
				a.explore-card__button.btn.btn--dark(href="#") Order Catering

			article.explore-card
				h3.explore-card__title The Food
				p.explore-card__text Our entire menu is available as dine in or takeaway.
				.explore-card__image
					img(src="img/explore-food.png", alt="Food")
				a.explore-card__button.btn.btn--dark(href="#") Food Menu

			article.explore-card
				h3.explore-card__title The Gelato
				p.explore-card__text Life is like GELATO, enjoy it before it melts.
				.explore-card__image
					img(src="img/explore-gelato.png", alt="Gelato")
				a.explore-card__button.btn.btn--dark(href="#") Discover More