extends layouts/default
include helpers/mixins

block variables
	- const title = "Alowishus"

block content
	include ../blocks/modules/header/header

	main.main
		include ../blocks/modules/hero/hero
		include ../blocks/modules/explore/explore
		include ../blocks/modules/order/order
		include ../blocks/modules/reviews/reviews

	include ../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")