footer.footer
  .container
    .footer__top
      .footer__brand
        a.footer__logo(href="#")
          img(src="img/logo.png", alt="Alowishus")

        p.footer__description
          | We made it our mission to create
          br
          | community everyday and grow meaningful,
          br
          | lasting relationships with our staff, our
          br
          | suppliers and of course you, our customers.

      .footer__contact
        h3.footer__title Contact Alowishus!

        ul.footer__contact-list
          li.footer__contact-item
            span.footer__contact-icon
              img(src="img/svg/mail.svg", alt="Email")
            a.footer__contact-link(href="mailto:alowishus@gmai.com") alowishus@gmai.com

          li.footer__contact-item
            span.footer__contact-icon
              img(src="img/svg/phone.svg", alt="Phone")
            a.footer__contact-link(href="tel:+1102142142451") +110 214 214 2451

        ul.footer__socials
          li.footer__social-item
            a.footer__social-link(href="#")
              img(src="img/svg/facebook.svg", alt="Facebook")
          li.footer__social-item
            a.footer__social-link(href="#")
              img(src="img/svg/instagram.svg", alt="Instagram")
          li.footer__social-item
            a.footer__social-link(href="#")
              img(src="img/svg/twitter.svg", alt="Twitter")
          li.footer__social-item
            a.footer__social-link(href="#")
              img(src="img/svg/linkedin.svg", alt="LinkedIn")

    .footer__middle
      .footer__locations
        h3.footer__title Store Locations

        p.footer__text
          | Find your nearest Alowishus store with
          br
          | opening hours, location and contact details.

        a.footer__more(href="#")
          | Find My Alowishus
          img(src="img/svg/arrow-right.svg", alt="Arrow")

      .footer__subscribe
        h3.footer__title First One’s On Us!

        form.footer__form(action="#")
          input.footer__input(type="email" placeholder="E-mail")
          button.footer__button(type="submit") Subscribe

    .footer__bottom
      p.footer__copyright
        | Copyright © 2022
        span  Alowishus Delicious

      .footer__bottom-links
        a.footer__bottom-link(href="#") Terms of Use
        span.footer__divider |
        a.footer__bottom-link(href="#") Privacy Policy