footer.footer
	.container.footer__container
		.footer__top
			.footer__left
				a.footer__logo(href="#")
					img(src="img/logo.png", alt="Alowishus logo")

				p.footer__description
					| We made it our mission to create
					br
					| community everyday and grow meaningful,
					br
					| lasting relationships with our staff, our
					br
					| suppliers and of course you, our customers.

				.footer__locations
					h3.footer__title Store Locations
					p.footer__text
						| Find your nearest Alowishus store with
						br
						| opening hours, location and contact details.
					a.footer__location-link(href="#")
						| Find my Alowishus
						span.footer__arrow →
			.footer__right
				.footer__contact
					h3.footer__title Contact Alowishus!

					ul.footer__contact-list
						li.footer__contact-item
							span.footer__contact-icon
								img(src="img/svg/mail.svg", alt="")
							span.footer__contact-value alowishus@gmail.com

						li.footer__contact-item
							span.footer__contact-icon
								img(src="img/svg/phone.svg", alt="")
							span.footer__contact-value +110 214 214 2451

					.footer__social
						a.footer__social-link(href="#", aria-label="Facebook")
							img(src="img/svg/facebook.svg", alt="")
						a.footer__social-link(href="#", aria-label="Instagram")
							img(src="img/svg/instagram.svg", alt="")
						a.footer__social-link(href="#", aria-label="Twitter")
							img(src="img/svg/twitter.svg", alt="")
						a.footer__social-link(href="#", aria-label="LinkedIn")
							img(src="img/svg/linkedin.svg", alt="")

				.footer__subscribe
					h3.footer__title First One’s On Us!

					form.footer__form(action="#")
						input.footer__input(type="email", placeholder="E-mail")
						button.footer__button.btn.btn--dark(type="submit") Subscribe

		.footer__bottom
			.footer__bottom-container
				p.footer__copyright
					| Copyright © 2022
					span.footer__copyright-strong Alowishus Delicious

				.footer__links
					a.footer__bottom-link(href="#") Terms of Use
					span.footer__divider |
					a.footer__bottom-link(href="#") Privacy Policy